<div class="comment-box">
    <div class="comment-container">
        <div class="comment-button">
            <span>Comment</span>
        </div> 
        <div class="comment">
            <div class="comment-text">
                <h3>{{ author }}</h3>
                <p>{{ comment-text }}</p>
            </div>
            <div class="comment-footer">
                <div class="user"><span>Edit</span></div>
                <div class="user"><span>Delete</span></div>
                <div class="reply"><span>Reply</span></div>
                <div class="show-replies"><span>Show Replies</span></div>
            </div>
        </div>
        {{ each reply }}
        {{ /each }}
    </div> 
</div>