<div class="comment" id={{_id}}>
        <div class="comment-text">
            <h3>{{ username }}</h3>
            <p>{{ content }}</p>
        </div>
    <div class="comment-footer">
        <div class="user"><span>Edit</span></div>
        <div class="user"><span>Delete</span></div>
        <div class="reply"><span>Reply</span></div>
        <div class="show-replies"><span>Show Replies</span></div>
    </div>
</div>

