
<div class="comment" id={{comment._id}}>
    <div class="comment-text">
        <h3>{{ comment.username }}</h3>
        <p>{{ comment.content }}</p>
    </div>
    <div class="comment-footer">
        <div class="user"><span>Edit</span></div>
        <div class="user"><span>Delete</span></div>
        <div class="reply"><span>Reply</span></div>
        <div class="show-replies"><span>Show Replies</span></div>
    </div>
</div>
{{#each comments}}
    {{#if (is_eq this.parentCommentId ../comment._id)}}
        <div class="comment-container">
            {{>comment (combineComments this ../comments)}}
        </div>
    {{/if}}
{{/each}}

