<nav class="top-page">
    <div class="searchbar">
        <form>
            <input type="search" placeholder="Search">
        </form>
    </div>
        <h1 id="YouPortfolio">
            <span id="You">You</span><span id="Portfolio">Portfolio</span>. 
        </h1>
        <button id="upload" onclick="toggleUpload()">Upload</button>
        <a href="/logout"><button id="logout">Logout</button></a>
    <div class="nav-bar-profile">
        <a href="/account"><img class="nav-bar-pfp" src="/images/anya.png"/></a>
    </div>
</nav>