<div class="post-quality">
        <div class="likes">
            <div id="heart">
                <img src="/images/empty-heart.png"/>
            </div>
            <div id="like-count">{{ likes }}</div>
        </div>
        <div class="profile-pic-container">
            <div id="profile-picture">
                <img src='..'+{{ artistPicture }}/>
            </div>
        </div>
    </div>  