<div class="image-container">
    <div class="black-overlay-top">
        <div class="caption">
            {{ caption }}
        </div>
    </div>
    <div class="black-overlay-btm">
        <div class="artist">
            {{ artist }}
        </div>
    </div>
    <img class="post-image" id= {{_id}} src={{convertImage img}}>
</div>    

    