<div class="Work">
    <img src={{convertImage img}}>
    <span id="OptionShadow">
        <button class="Delete" id="Delete1" onclick="DeleteWork(this.id)">X</button>
        <button class="Edit" id="Edit1" onclick="toggleEdit()" >&#9999</button> 
    </span>
</div>