<div class="Work" id={{_id}}>
    <img src={{convertImage img}}>
    <span id="OptionShadow">
        {{caption}}
        <button class="Delete" id="Delete">X</button>
        <button class="Edit" id="Edit" >&#9999</button> 
    </span>
</div>