<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" type="text/css"   href="css/about.css">
        <script src="scripts/jquery-3.6.0.min.js">
        </script>
        <script src="scripts/index.js">
        </script>
        <title>
            About
        </title>
    </head>

    <body class="aboutpage">
        <a href="/home" class="home"><h3>Back to Home<h3></a>
        <div class="authors">
            <ul>
                <li>Made By: Piano, Saquilayan, To</li>
            </ul>
            
        </div>
        <div class="npmpacks">
            <ul>
                <li>NPM Packages Used:</li>
                <li>Express</li>
                <li>Handlebars</li>
                <li>Body-Parser</li>
                <li>Mongoose</li>
                <li>BcryptJS</li>
                <li>Path</li>
                <li>fs</li>
                <li>Minimatch</li>
                <li>Express-Validator</li>
                <li>Multer</li>
            </ul>
        </div>
        
    </body>
</html>