<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
        <link rel="stylesheet" type="text/css"   href="css/homepage.css">
        <script src="scripts/jquery-3.6.0.min.js">
        </script>
        <script src="scripts/homepage.js">
        </script>
        <title>
            YouPortfolio
        </title>
    </head>

    <body>
        {{> header}}
        <!-- Upload Pop Up-->
        
        <!-- End of Upload Pop Up-->
        <div class="sidebar">
            <h1>Categories</h1>
            <ul style="list-style-type:none">
                <li><a> Photography </a></li>
                <li><a> Digital Art </a></li>
                <li><a> Anime </a></li>
                <li><a> Animation </a></li>
                <li><a> Videography </a></li>
                <li><a> Illustration </a></li>
                <li><a> UX/UI Design </a></li>
                <li><a> Graphic Design </a></li>
                <li><a> Others </a></li>
            </ul>
        <!-- this data should change depending on the user-->
            <h1>Following</h1>
            <ul style="list-style-type:none">
                <li><a> TheLegend69 </a></li>
                <li><a> Ramdayo </a></li>
                <li><a> Velephyr </a></li>
                <li><a> Shire </a></li>
                <li><a> GawrGuna </a></li>
                <li><a> Kannare </a></li>
            </ul>
        </div>

        <div class="posts-wrapper">
            <div>
                <h1 class="your-feed">
                    Your <span>Feed</span>.
                </h1>
                <p class="welcome"> &nbsp The latest and greatest for you, Anya</p>
            </div>

            {{#if posts}}
                {{#each posts}}
                    {{> post}}
                {{/each}}
            {{else}}
                <p>There are no posts right now!</p>
            {{/if}}

         <!--ImagePopups-->

            <div class="popup-image">
                <div class="caption"></div>
            
                <div class="profile-pic-container">
                    <div id="profile-picture">
                        <img src="/images/guest.png"/>
                    </div>
                </div>
                <span>&times;</span>
                <img class="popup" src="/images/NRTK.jpg"/>            
            </div>
            

            <!--EndImagePopups-->
        </div>

       
    </body>
</html>